.searchBar {
  background: var(--tg-theme-secondary-bg-color);
  margin-top: 16px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  width: 100%;
  padding: 12px;
  height: 48px;
  border-radius: 12px;
  gap: 12px;
}
.searchBar input {
  width: 100%;
  font-size: 17px;
  outline: none;
  border: none;
  background: transparent;
  margin-top: -2px;
}
.searchBar input::placeholder {
  color: var(--tg-theme-hint-color);
}
