.header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .photo {
  background: var(--tg-theme-secondary-bg-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.header .userName {
  font-size: 20px;
  font-weight: 500;
}
