* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 16px;
}
